<!-- The component's installation: -->
<div style="display: inline-block; width: 40%">
    <uno-asset-visualizer [defaultAssetImgURL]="defaultImgURL"
                          [imgURL]="imgURL"

                          (imageUploaded)="newImgUploaded($event)"
                          (imageDeleted)="imageDeleted()"
                          (sendAssetInfo)="sendAsset($event)"
                          (goToMonitorLink)="goToMonitor($event)">
    </uno-asset-visualizer>
</div>

<div style="display: inline-block; width: 40%">
    <uno-asset-visualizer [imgURL]="imgURL"
                          [onlyViewImage]="true"

                          (sendAssetInfo)="sendAsset($event)"
                          (goToMonitorLink)="goToMonitor($event)">
    </uno-asset-visualizer>
</div>