<p>
    You can config the <b>number of years</b> before, and after, current date, that fill the dropdown list - &#64;Input "<b>numYearsBefore</b>" and/or
    "<b>numYearsAfter</b>".
</p>
<p class="slds-p-bottom--small">A default number is provided for both, if none/any of the Inputs are passed in.</p>
<p class="slds-p-bottom--medium">Component's Input Directive "<b>year</b>" is only needed if you want to control the <strong>&#60;uno-date-year&#62;</strong>'s
    showing year from the outside of the component.</p>

<p>
    <uno-date-year (yearChange)="moveYear($event)"></uno-date-year>
    &nbsp;
    Chosen year: <span [innerHTML]="chosenYear ? '<b>' + chosenYear + '</b>' : '<i>(none yet)</i>' "></span>
</p>