<uno-banner type="warning"
            title="Warning message"
            subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor"
            [showAction]="true"
            actionTitle="Click"
            (action)="onButtonClicked()">
</uno-banner>

<uno-banner class="slds-m-horizontal--large"
            type="info"
            title="Information message"
            subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor">
</uno-banner>

<uno-banner class="slds-m-horizontal--large"
            type="success"
            title="Success message"
            subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor">
</uno-banner>

<uno-banner type="error"
            title="Error message"
            subTitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor">
</uno-banner>