.svg-3D_develop {
	background: url("svg/sprite.css-ec0ae437.svg") 78.6096256684492% 49.079754601226995% no-repeat;
}

.svg-3D_develop-dims {
	width: 20px;
	height: 20px;
}

.svg-asset_portfolio {
	background: url("svg/sprite.css-ec0ae437.svg") 57.67195767195767% 37.423312883435585% no-repeat;
}

.svg-asset_portfolio-dims {
	width: 18px;
	height: 20px;
}

.svg-back {
	background: url("svg/sprite.css-ec0ae437.svg") 89.3048128342246% 0 no-repeat;
}

.svg-back-dims {
	width: 20px;
	height: 20px;
}

.svg-back_b {
	background: url("svg/sprite.css-ec0ae437.svg") 89.3048128342246% 36.809815950920246% no-repeat;
}

.svg-back_b-dims {
	width: 20px;
	height: 20px;
}

.svg-calendar {
	background: url("svg/sprite.css-ec0ae437.svg") 98.42105263157895% 77.10843373493977% no-repeat;
}

.svg-calendar-dims {
	width: 17px;
	height: 17px;
}

.svg-client_manager {
	background: url("svg/sprite.css-ec0ae437.svg") 32.0855614973262% 62.576687116564415% no-repeat;
}

.svg-client_manager-dims {
	width: 20px;
	height: 20px;
}

.svg-close {
	background: url("svg/sprite.css-ec0ae437.svg") 42.780748663101605% 62.576687116564415% no-repeat;
}

.svg-close-dims {
	width: 20px;
	height: 20px;
}

.svg-close_b {
	background: url("svg/sprite.css-ec0ae437.svg") 67.9144385026738% 0 no-repeat;
}

.svg-close_b-dims {
	width: 20px;
	height: 20px;
}

.svg-component {
	background: url("svg/sprite.css-ec0ae437.svg") 46.524064171122994% 38.59649122807018% no-repeat;
}

.svg-component-dims {
	width: 20px;
	height: 12px;
}

.svg-contacts {
	background: url("svg/sprite.css-ec0ae437.svg") 42.24598930481283% 75.4601226993865% no-repeat;
}

.svg-contacts-dims {
	width: 20px;
	height: 20px;
}

.svg-dashboard {
	background: url("svg/sprite.css-ec0ae437.svg") 10.21505376344086% 62.96296296296296% no-repeat;
}

.svg-dashboard-dims {
	width: 21px;
	height: 21px;
}

.svg-documents {
	background: url("svg/sprite.css-ec0ae437.svg") 0 87.73006134969326% no-repeat;
}

.svg-documents-dims {
	width: 20px;
	height: 20px;
}

.svg-down {
	background: url("svg/sprite.css-ec0ae437.svg") 21.390374331550802% 87.73006134969326% no-repeat;
}

.svg-down-dims {
	width: 20px;
	height: 20px;
}

.svg-down_0 {
	background: url("svg/sprite.css-ec0ae437.svg") 32.0855614973262% 87.73006134969326% no-repeat;
}

.svg-down_0-dims {
	width: 20px;
	height: 20px;
}

.svg-down_0_b {
	background: url("svg/sprite.css-ec0ae437.svg") 64.1711229946524% 87.73006134969326% no-repeat;
}

.svg-down_0_b-dims {
	width: 20px;
	height: 20px;
}

.svg-down_b {
	background: url("svg/sprite.css-ec0ae437.svg") 74.8663101604278% 87.73006134969326% no-repeat;
}

.svg-down_b-dims {
	width: 20px;
	height: 20px;
}

.svg-down_s {
	background: url("svg/sprite.css-ec0ae437.svg") 8.556149732620321% 10.526315789473685% no-repeat;
}

.svg-down_s-dims {
	width: 20px;
	height: 12px;
}

.svg-equipment {
	background: url("svg/sprite.css-ec0ae437.svg") 0 62.96296296296296% no-repeat;
}

.svg-equipment-dims {
	width: 19px;
	height: 21px;
}

.svg-exit {
	background: url("svg/sprite.css-ec0ae437.svg") 0 0 no-repeat;
}

.svg-exit-dims {
	width: 16px;
	height: 37px;
}

.svg-explorer {
	background: url("svg/sprite.css-ec0ae437.svg") 89.3048128342246% 49.079754601226995% no-repeat;
}

.svg-explorer-dims {
	width: 20px;
	height: 20px;
}

.svg-external_clients {
	background: url("svg/sprite.css-ec0ae437.svg") 50.80213903743316% 100% no-repeat;
}

.svg-external_clients-dims {
	width: 20px;
	height: 20px;
}

.svg-filters {
	background: url("svg/sprite.css-ec0ae437.svg") 0 36.41975308641975% no-repeat;
}

.svg-filters-dims {
	width: 22px;
	height: 21px;
}

.svg-go {
	background: url("svg/sprite.css-ec0ae437.svg") 34.224598930481285% 36.19631901840491% no-repeat;
}

.svg-go-dims {
	width: 20px;
	height: 20px;
}

.svg-go_b {
	background: url("svg/sprite.css-ec0ae437.svg") 21.390374331550802% 62.576687116564415% no-repeat;
}

.svg-go_b-dims {
	width: 20px;
	height: 20px;
}

.svg-group {
	background: url("svg/sprite.css-ec0ae437.svg") 8.791208791208792% 0 no-repeat;
}

.svg-group-dims {
	width: 25px;
	height: 18px;
}

.svg-help {
	background: url("svg/sprite.css-ec0ae437.svg") 11.891891891891891% 22.981366459627328% no-repeat;
}

.svg-help-dims {
	width: 22px;
	height: 22px;
}

.svg-hr {
	background: url("svg/sprite.css-ec0ae437.svg") 53.475935828877006% 62.576687116564415% no-repeat;
}

.svg-hr-dims {
	width: 20px;
	height: 20px;
}

.svg-info {
	background: url("svg/sprite.css-ec0ae437.svg") 35.13513513513514% 0 no-repeat;
}

.svg-info-dims {
	width: 22px;
	height: 22px;
}

.svg-left {
	background: url("svg/sprite.css-ec0ae437.svg") 67.9144385026738% 12.269938650306749% no-repeat;
}

.svg-left-dims {
	width: 20px;
	height: 20px;
}

.svg-left_b {
	background: url("svg/sprite.css-ec0ae437.svg") 67.9144385026738% 24.539877300613497% no-repeat;
}

.svg-left_b-dims {
	width: 20px;
	height: 20px;
}

.svg-lock {
	background: url("svg/sprite.css-ec0ae437.svg") 65.80310880829016% 36.809815950920246% no-repeat;
}

.svg-lock-dims {
	width: 14px;
	height: 20px;
}

.svg-lock_b {
	background: url("svg/sprite.css-ec0ae437.svg") 65.80310880829016% 49.079754601226995% no-repeat;
}

.svg-lock_b-dims {
	width: 14px;
	height: 20px;
}

.svg-lock_pw {
	background: url("svg/sprite.css-ec0ae437.svg") 64.79591836734694% 61.34969325153374% no-repeat;
}

.svg-lock_pw-dims {
	width: 11px;
	height: 20px;
}

.svg-lock_pw_b {
	background: url("svg/sprite.css-ec0ae437.svg") 55.61224489795919% 12.883435582822086% no-repeat;
}

.svg-lock_pw_b-dims {
	width: 11px;
	height: 20px;
}

.svg-logout {
	background: url("svg/sprite.css-ec0ae437.svg") 57.67195767195767% 25.153374233128833% no-repeat;
}

.svg-logout-dims {
	width: 18px;
	height: 20px;
}

.svg-master_data {
	background: url("svg/sprite.css-ec0ae437.svg") 0 75.4601226993865% no-repeat;
}

.svg-master_data-dims {
	width: 19px;
	height: 20px;
}

.svg-menu {
	background: url("svg/sprite.css-ec0ae437.svg") 35.13513513513514% 13.664596273291925% no-repeat;
}

.svg-menu-dims {
	width: 22px;
	height: 22px;
}

.svg-menu_b {
	background: url("svg/sprite.css-ec0ae437.svg") 10.16042780748663% 75.4601226993865% no-repeat;
}

.svg-menu_b-dims {
	width: 20px;
	height: 20px;
}

.svg-minus {
	background: url("svg/sprite.css-ec0ae437.svg") 20.855614973262032% 75.4601226993865% no-repeat;
}

.svg-minus-dims {
	width: 20px;
	height: 20px;
}

.svg-minus_b {
	background: url("svg/sprite.css-ec0ae437.svg") 31.550802139037433% 75.4601226993865% no-repeat;
}

.svg-minus_b-dims {
	width: 20px;
	height: 20px;
}

.svg-more_h {
	background: url("svg/sprite.css-ec0ae437.svg") 0 22.981366459627328% no-repeat;
}

.svg-more_h-dims {
	width: 22px;
	height: 22px;
}

.svg-more_h_b {
	background: url("svg/sprite.css-ec0ae437.svg") 52.94117647058823% 75.4601226993865% no-repeat;
}

.svg-more_h_b-dims {
	width: 20px;
	height: 20px;
}

.svg-more_opt_h {
	background: url("svg/sprite.css-ec0ae437.svg") 34.75935828877005% 24.58100558659218% no-repeat;
}

.svg-more_opt_h-dims {
	width: 20px;
	height: 4px;
}

.svg-more_opt_v {
	background: url("svg/sprite.css-ec0ae437.svg") 69.45812807881774% 36.809815950920246% no-repeat;
}

.svg-more_opt_v-dims {
	width: 4px;
	height: 20px;
}

.svg-more_v {
	background: url("svg/sprite.css-ec0ae437.svg") 63.63636363636363% 75.4601226993865% no-repeat;
}

.svg-more_v-dims {
	width: 20px;
	height: 20px;
}

.svg-more_v_b {
	background: url("svg/sprite.css-ec0ae437.svg") 100% 44.171779141104295% no-repeat;
}

.svg-more_v_b-dims {
	width: 20px;
	height: 20px;
}

.svg-neg {
	background: url("svg/sprite.css-ec0ae437.svg") 78.6096256684492% 0 no-repeat;
}

.svg-neg-dims {
	width: 20px;
	height: 20px;
}

.svg-neg_b {
	background: url("svg/sprite.css-ec0ae437.svg") 78.6096256684492% 12.269938650306749% no-repeat;
}

.svg-neg_b-dims {
	width: 20px;
	height: 20px;
}

.svg-next {
	background: url("svg/sprite.css-ec0ae437.svg") 78.6096256684492% 24.539877300613497% no-repeat;
}

.svg-next-dims {
	width: 20px;
	height: 20px;
}

.svg-next_b {
	background: url("svg/sprite.css-ec0ae437.svg") 78.6096256684492% 36.809815950920246% no-repeat;
}

.svg-next_b-dims {
	width: 20px;
	height: 20px;
}

.svg-notification_1 {
	background: url("svg/sprite.css-ec0ae437.svg") 22.404371584699454% 0 no-repeat;
}

.svg-notification_1-dims {
	width: 24px;
	height: 21px;
}

.svg-notifications {
	background: url("svg/sprite.css-ec0ae437.svg") 98.94179894179894% 66.66666666666667% no-repeat;
}

.svg-notifications-dims {
	width: 18px;
	height: 18px;
}

.svg-opunit {
	background: url("svg/sprite.css-ec0ae437.svg") 76.5625% 73.61963190184049% no-repeat;
}

.svg-opunit-dims {
	width: 15px;
	height: 20px;
}

.svg-order_down {
	background: url("svg/sprite.css-ec0ae437.svg") 23.118279569892472% 36.19631901840491% no-repeat;
}

.svg-order_down-dims {
	width: 21px;
	height: 20px;
}

.svg-order_up {
	background: url("svg/sprite.css-ec0ae437.svg") 10.695187165775401% 87.73006134969326% no-repeat;
}

.svg-order_up-dims {
	width: 20px;
	height: 20px;
}

.svg-part {
	background: url("svg/sprite.css-ec0ae437.svg") 21.925133689839573% 12.280701754385966% no-repeat;
}

.svg-part-dims {
	width: 20px;
	height: 12px;
}

.svg-pin {
	background: url("svg/sprite.css-ec0ae437.svg") 47.027027027027025% 13.664596273291925% no-repeat;
}

.svg-pin-dims {
	width: 22px;
	height: 22px;
}

.svg-pin_hover {
	background: url("svg/sprite.css-ec0ae437.svg") 47.027027027027025% 27.32919254658385% no-repeat;
}

.svg-pin_hover-dims {
	width: 22px;
	height: 22px;
}

.svg-plant {
	background: url("svg/sprite.css-ec0ae437.svg") 57.068062827225134% 49.693251533742334% no-repeat;
}

.svg-plant-dims {
	width: 16px;
	height: 20px;
}

.svg-plus {
	background: url("svg/sprite.css-ec0ae437.svg") 42.780748663101605% 87.73006134969326% no-repeat;
}

.svg-plus-dims {
	width: 20px;
	height: 20px;
}

.svg-plus_b {
	background: url("svg/sprite.css-ec0ae437.svg") 53.475935828877006% 87.73006134969326% no-repeat;
}

.svg-plus_b-dims {
	width: 20px;
	height: 20px;
}

.svg-power {
	background: url("svg/sprite.css-ec0ae437.svg") 0 49.68944099378882% no-repeat;
}

.svg-power-dims {
	width: 22px;
	height: 22px;
}

.svg-power_hover {
	background: url("svg/sprite.css-ec0ae437.svg") 11.891891891891891% 49.68944099378882% no-repeat;
}

.svg-power_hover-dims {
	width: 22px;
	height: 22px;
}

.svg-radio_1 {
	background: url("svg/sprite.css-ec0ae437.svg") 35.483870967741936% 49.382716049382715% no-repeat;
}

.svg-radio_1-dims {
	width: 21px;
	height: 21px;
}

.svg-radion_0 {
	background: url("svg/sprite.css-ec0ae437.svg") 46.774193548387096% 49.382716049382715% no-repeat;
}

.svg-radion_0-dims {
	width: 21px;
	height: 21px;
}

.svg-right {
	background: url("svg/sprite.css-ec0ae437.svg") 89.3048128342246% 12.269938650306749% no-repeat;
}

.svg-right-dims {
	width: 20px;
	height: 20px;
}

.svg-right_b {
	background: url("svg/sprite.css-ec0ae437.svg") 89.3048128342246% 24.539877300613497% no-repeat;
}

.svg-right_b-dims {
	width: 20px;
	height: 20px;
}

.svg-safety {
	background: url("svg/sprite.css-ec0ae437.svg") 57.67195767195767% 0 no-repeat;
}

.svg-safety-dims {
	width: 18px;
	height: 21px;
}

.svg-safety_v {
	background: url("svg/sprite.css-ec0ae437.svg") 23.404255319148938% 22.981366459627328% no-repeat;
}

.svg-safety_v-dims {
	width: 19px;
	height: 22px;
}

.svg-shield {
	background: url("svg/sprite.css-ec0ae437.svg") 88.35978835978835% 61.34969325153374% no-repeat;
}

.svg-shield-dims {
	width: 18px;
	height: 20px;
}

.svg-shield_g {
	background: url("svg/sprite.css-ec0ae437.svg") 88.35978835978835% 73.61963190184049% no-repeat;
}

.svg-shield_g-dims {
	width: 18px;
	height: 20px;
}

.svg-subequipment {
	background: url("svg/sprite.css-ec0ae437.svg") 88.82978723404256% 85.88957055214723% no-repeat;
}

.svg-subequipment-dims {
	width: 19px;
	height: 20px;
}

.svg-subopunit {
	background: url("svg/sprite.css-ec0ae437.svg") 0 100% no-repeat;
}

.svg-subopunit-dims {
	width: 14px;
	height: 20px;
}

.svg-subplant {
	background: url("svg/sprite.css-ec0ae437.svg") 7.329842931937173% 100% no-repeat;
}

.svg-subplant-dims {
	width: 16px;
	height: 20px;
}

.svg-trash {
	background: url("svg/sprite.css-ec0ae437.svg") 15.789473684210526% 100% no-repeat;
}

.svg-trash-dims {
	width: 17px;
	height: 20px;
}

.svg-tree {
	background: url("svg/sprite.css-ec0ae437.svg") 98.94179894179894% 55.75757575757576% no-repeat;
}

.svg-tree-dims {
	width: 18px;
	height: 18px;
}

.svg-unlock {
	background: url("svg/sprite.css-ec0ae437.svg") 34.715025906735754% 100% no-repeat;
}

.svg-unlock-dims {
	width: 14px;
	height: 20px;
}

.svg-unlock_b {
	background: url("svg/sprite.css-ec0ae437.svg") 41.968911917098445% 100% no-repeat;
}

.svg-unlock_b-dims {
	width: 14px;
	height: 20px;
}

.svg-unpin {
	background: url("svg/sprite.css-ec0ae437.svg") 23.783783783783782% 49.68944099378882% no-repeat;
}

.svg-unpin-dims {
	width: 22px;
	height: 22px;
}

.svg-unpin_hover {
	background: url("svg/sprite.css-ec0ae437.svg") 47.027027027027025% 0 no-repeat;
}

.svg-unpin_hover-dims {
	width: 22px;
	height: 22px;
}

.svg-up {
	background: url("svg/sprite.css-ec0ae437.svg") 72.19251336898395% 100% no-repeat;
}

.svg-up-dims {
	width: 20px;
	height: 20px;
}

.svg-up_0 {
	background: url("svg/sprite.css-ec0ae437.svg") 82.88770053475936% 100% no-repeat;
}

.svg-up_0-dims {
	width: 20px;
	height: 20px;
}

.svg-up_0b {
	background: url("svg/sprite.css-ec0ae437.svg") 100% 0 no-repeat;
}

.svg-up_0b-dims {
	width: 20px;
	height: 20px;
}

.svg-up_b {
	background: url("svg/sprite.css-ec0ae437.svg") 100% 12.269938650306749% no-repeat;
}

.svg-up_b-dims {
	width: 20px;
	height: 20px;
}

.svg-up_s {
	background: url("svg/sprite.css-ec0ae437.svg") 100% 23.391812865497077% no-repeat;
}

.svg-up_s-dims {
	width: 20px;
	height: 12px;
}

.svg-user {
	background: url("svg/sprite.css-ec0ae437.svg") 100% 31.901840490797547% no-repeat;
}

.svg-user-dims {
	width: 20px;
	height: 20px;
}

.svg-user_hover {
	background: url("svg/sprite.css-ec0ae437.svg") 25.13368983957219% 100% no-repeat;
}

.svg-user_hover-dims {
	width: 20px;
	height: 20px;
}

.svg-validate_off {
	background: url("svg/sprite.css-ec0ae437.svg") 78.6096256684492% 61.34969325153374% no-repeat;
}

.svg-validate_off-dims {
	width: 20px;
	height: 20px;
}

.svg-validate_on {
	background: url("svg/sprite.css-ec0ae437.svg") 61.49732620320856% 100% no-repeat;
}

.svg-validate_on-dims {
	width: 20px;
	height: 20px;
}

.svg-validate_on_b {
	background: url("svg/sprite.css-ec0ae437.svg") 11.827956989247312% 36.19631901840491% no-repeat;
}

.svg-validate_on_b-dims {
	width: 21px;
	height: 20px;
}

