:root {
    --sapphire: #1825aa;
    --white: #ffffff;
    --purple_brown: #241f21;
    --dark: #151735;
    --grey: #e9ecf1;
    --flat-blue: rgba(61, 112, 178, 0.1);
    --dk-grey: #0f212e;
    --grey-three: #f5f7fa;
    --slate-grey-two: #5a6172;
    --grey-two: #f0f3f6;
    --tomato-red: #ff2200;
    --deep-lavender: #9b59b6;
    --green-blue: #00b4a0;
    --orangey-yellow: #ffae1c;
    --blue-green: #008571;
    --periwinkle: #9682e7;
    --blue-blue: #1c30cc;
    --blackish: #333333;
    --cool-grey: #a6a8ab;
    --weird-green: #38ee85;
    /* */
    --perrywinkle: #9682e7;
    --amethyst: #9f5dba;
    --bright-lilac: #c377e0;
    --greenish-teal: #2ecc71;
    --jade-green: #2ab564;
    --dark-lime-green: #77dc01;
    --azure: #1990f9;
    --sky-blue: #64b4fa;
    --cornflower: #6d79f6;
    --vermillion: #ff2200;
    --red: #cc1b00;
    --light-orange: #f3ab4b;
    --sun-yellow: #ffe224;
    --sunflower: #f0cc18;
    --piss-yellow: #dbc21f;
    --dark-blue-grey: #152935;
    --dusk: #494362;
    --slate-grey: #5a6872;
    --blue-grey: #85939c;
    --bluey-grey: #92979e;
    --light-grey-blue: #aabac3;
    --light-blue-grey: #c5d0de;
    --light-periwinkle: #cbceef;
    --very-light-blue: #e9edf1;
    --pale-lavender: #eae6fa;
    --light-periwinkle-two: #e0e3ea;
    --pale-grey: #f0f3f6;
    --very-light-blue-two: #e9ecf1;
    --flat-blue-10: rgba(61, 112, 178, 0.1);
}