<div style="width: 300px;">
    <uno-datepicker2
                     (dateChange)="newDate($event)"
                     [required]="false"
                     [chooseLabel]="'Selecione uma Data'"
                     [disableCalendar]="true"
                     [disable]="true"
                     [min]="minDate"
                     [max]="maxDate"
                     [date]="date">
    </uno-datepicker2>
</div>

<div style="width: 300px;">
    <uno-datepicker2
                     (dateChange)="newDate($event)"
                     [required]="false"
                     [chooseLabel]="'Selecione uma Data'"
                     [min]="minDate"
                     [max]="maxDate">
    </uno-datepicker2>
</div>

<div style="width: 300px;">
    <uno-datepicker2
                     (dateChange)="newDate($event)"
                     [required]="false"
                     [dateRange]="true"
                     [min]="minDate"
                     [max]="maxDate">
    </uno-datepicker2>
</div>