<uno-switch class="slds-m-around_x-small" (changed)="onClickChanges($event)"></uno-switch>
<uno-switch size="medium" class="slds-m-around_x-small" enabledText="I'm a MEDIUM size ON!" minWidth="220px"></uno-switch>
<uno-switch size="large" class="slds-m-around_x-small"></uno-switch>
<p>&nbsp;</p>
<uno-switch enabledText="On" disabledText="Off" minWidth="100px" class="slds-m-around_x-small"></uno-switch>
<uno-switch [checked]="false" [disable]="true" disabledText="This is disabled!" class="slds-m-around_x-small"></uno-switch>