<p>
    Plain "Lightning System CSS" ones:
</p>
<uno-badge class="slds-show--inline-block slds-p-around_x-small">plain simplest badge</uno-badge>
<uno-badge class="slds-show--inline-block slds-p-around_x-small" type="default">Default</uno-badge>
<uno-badge class="slds-show--inline-block slds-p-around_x-small" type="info">Info</uno-badge>
<uno-badge class="slds-show--inline-block slds-p-around_x-small" type="success">Success</uno-badge>
<uno-badge class="slds-show--inline-block slds-p-around_x-small" type="warning">Warning</uno-badge>
<uno-badge class="slds-show--inline-block slds-p-around_x-small" type="error">Error</uno-badge>

<p class="slds-m-top--large">
    Full directive customization ones:
</p>
<div class="custom-bages-container">
    <uno-badge class="slds-show--inline-block slds-p-horizontal_large slds-p-vertical_x-small" type="error" pointer="true">
        Has Pointer
    </uno-badge>
    <uno-badge class="slds-show--inline-block slds-p-horizontal_large slds-p-vertical_x-small" bgColor="special-green-4" txtColor="light-primary">
        Custom colors pair
    </uno-badge>
    <uno-badge class="slds-show--inline-block slds-p-horizontal_large slds-p-vertical_x-small" type="success" maxContentSize="10">
        With a quite big description, you get CSS ellipsis, defining maxContentSize!
    </uno-badge>
</div>