<p>Click me to change my icon:
    <uno-icon size="large"
              [icon]="getPlantString"
              svgType="sprite-color"
              (click)="toggleIcon('component');">
    </uno-icon>
</p>
<div class="slds-grid slds-grid--align-space">
    <uno-icon size="large" icon="checklist" [withOpacity]="false" color="black"></uno-icon>
    <uno-icon icon="close"></uno-icon>
    <uno-icon size="medium" icon="clone" color="green-menu"></uno-icon>
    <uno-icon size="small" icon="clone" color="green-menu"></uno-icon>
    <uno-icon size="x-small" icon="edit" color="default"></uno-icon>
</div>